.nãoSelecionado{
  border: 2px solid transparent;
  padding: 10px;
  width: 200px;
  border-left: 5px solid rgba(128, 128, 128, 0.397);
}

.nãoSelecionado:hover{
  cursor: pointer;
  border-left: 5px solid gray;

}

.selecionado{
  border: 2px gray solid;
  padding: 10px;
  width: 200px;
}

.selecionado:hover{
  cursor: pointer;
  border-left: 5px solid gray;
}